<!DOCTYPE html>
<html lang="en">
<head>

<style>
    .randomSentence {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80vh; 
      font-size: 80px;
      border: black 1px solid;
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> random sentence </title>
</head>
<body>
<nav>
<div class="site-title">
    <a><h1>  <h1>Randomly Generated Sentence:</h1>
</div>
<ul>
    <li><a href="/roll">roll die</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/">index</a></li>
</ul>
</nav>
<div class="blogs content"><h2>all blogs</h2>
</div>
    <header>
        <h1>Dynamic 1</h1>
        <div class="randomSentence"><p>The <%= adjective1 %> <%= noun1 %> <%= verb %> the <%= adjective2 %> <%= noun2 %></p></h1></a>
        </div>
    </header>

    <main>
        <section>
            <!-- Add your main content here -->
        </section>
    </main>

    <footer>
        <!-- Add footer content or links here -->
    </footer>

</body>
</html>

